{% extends 'baseadmin.html.twig' %}

{% block container %}
    <div class="pcoded-content" xmlns="http://www.w3.org/1999/html">
        <div class="pcoded-inner-content">

            <div class="main-body">
                <div class="page-wrapper">

                    <div class="page-header">
                        <div class="row align-items-end">
                            <div class="col-lg-8">
                                <div class="page-header-title">
                                    <div class="d-inline">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="page-body">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="card">
                                    <div class="card-header">

                                    </div>
                                    <div class="card-block">
                                        <h4 class="sub-title">Modifier Une Matiere</h4>

                                        {{ form_start(edit_form, {'method': 'post', 'action': path('matiere_edit', { 'id': matiere.id }) }) }}

                                        <div class="form-group row">
                                            <div class="col-sm-10">
                                                {{ form_row(edit_form.nommatiere,{ 'attr': {'class': 'form-control form-control-round','placeholder': 'Nom Matiere','required' :'1'} }) }}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-10">
                                                {{ form_row(edit_form.coef,{ 'attr': {'class': 'form-control form-control-round','placeholder': 'Coefficient','required' :'1'} }) }}
                                            </div>
                                        </div>
                                        <button type="submit" value="Edit" class="btn btn-grd-danger"/>Editer</button>
                                        {{ form_end(edit_form) }}


                                    </div>
                                </div>
                            </div>



                            <div id="styleSelector">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock container %}























