{% extends 'baseadmin.html.twig' %}

{% block container %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="index.html"> <i class="feather icon-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Data Table Extensions</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Button</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card">

                                <div class="card-block">

                                         <h1>Traiter Demandes Congés</h1>

                                        {{ form_start(edit_form, {'method': 'post', 'action': path('conge_edit' , { 'id': conge.id }) }) }}

                                        <div class="form-group row">
                                            <div class="col-sm-10">
                                                {{ form_row(edit_form.etat,{ 'attr': {'class': 'form-control form-control-round','placeholder': 'Nom','required' :'1'} }) }}
                                            </div>
                                        </div>
        <button type="submit" value="Edit" class="btn btn-grd-danger"/>Editer</button>
     {{ form_end(edit_form) }}

                                        <div>
    <ul>
        <li>
            <a href="{{ path('conge_index') }}" class="icofont icofont-eye-alt">Back to the list</a>
        </li>

    </ul>
                                        </div>
{% endblock container %}
